
.App-logo {
    height: 4vmin;
    pointer-events: none;
  }

  .GridContainer {
   
    
  }

  .icon {
   display: flex;
   justify-content: center;
  }

  .feedback-form {    /* margin: auto; */
    text-align: center;
  }

  .form-fields {
    justify-content: center;
  }